Q1. What is a database? Differentiate between SQL and NoSQL databases.
A1. Database: A database is an organized collection of structured information or data, typically stored electronically in a computer system. It allows for efficient data management, retrieval, and manipulation.

SQL Databases (Relational Databases):

Structure: SQL databases are structured and use tables to organize data. Each table is defined with a schema that includes columns and data types.
Query Language: They use SQL (Structured Query Language) for querying and managing data.
ACID Compliance: They support ACID (Atomicity, Consistency, Isolation, Durability) properties to ensure reliable transactions.
Examples: MySQL, PostgreSQL, Oracle, SQL Server.
NoSQL Databases (Non-relational Databases):

Structure: NoSQL databases can store data in various formats such as key-value pairs, documents, graphs, or columns.
Query Language: They use various query languages or APIs, not necessarily SQL.
Scalability: They are designed for horizontal scaling and are often used for large-scale applications with unstructured or semi-structured data.
Examples: MongoDB (document-based), Redis (key-value), Cassandra (column-family), Neo4j (graph-based).

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
A2. DDL (Data Definition Language): DDL is a subset of SQL used to define and manage the structure of a database schema. It includes commands to create, alter, and delete database objects.

CREATE: Used to create a new table or other database objects.

Example: CREATE TABLE employees (id INT PRIMARY KEY, name VARCHAR(100));
DROP: Used to delete an existing table or other database objects.

Example: DROP TABLE employees;
ALTER: Used to modify the structure of an existing table (e.g., adding or removing columns).

Example: ALTER TABLE employees ADD COLUMN email VARCHAR(255);
TRUNCATE: Used to remove all records from a table, but the table structure remains intact.

Example: TRUNCATE TABLE employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
A3. DML (Data Manipulation Language): DML is a subset of SQL used to manage and manipulate data within existing database structures.

INSERT: Used to add new rows to a table.

Example: INSERT INTO employees (id, name) VALUES (1, 'John Doe');
UPDATE: Used to modify existing rows in a table.

Example: UPDATE employees SET name = 'Jane Doe' WHERE id = 1;
DELETE: Used to remove rows from a table.

Example: DELETE FROM employees WHERE id = 1;

Q4. What is DQL? Explain SELECT with an example.
A4. DQL (Data Query Language): DQL is a subset of SQL used to query and retrieve data from a database.

SELECT: The SELECT statement is used to retrieve data from one or more tables.
Example: SELECT name FROM employees WHERE id = 1;

Q5. Explain Primary Key and Foreign Key.
A5. Primary Key:

A primary key is a unique identifier for a record in a table. Each table can have only one primary key.
Example: In a table employees, the id column can be a primary key because it uniquely identifies each employee.
Foreign Key:

A foreign key is a column or a set of columns in one table that refers to the primary key in another table. It establishes a relationship between the two tables.
Example: In a table orders, a customer_id column might be a foreign key that references the id column in the customers table.

Q6. Write a python code to connect MySQL to Python. Explain the cursor() and execute() method.
Here is an example of how to connect to a MySQL database using Python:

import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password",
    database="testdb"
)

cursor = conn.cursor()

cursor.execute("SELECT * FROM employees")

results = cursor.fetchall()
for row in results:
    print(row)

cursor.close()
conn.close()

Explanation:

cursor(): The cursor() method creates a cursor object which is used to execute SQL queries and retrieve data from the database.
execute(): The execute() method of the cursor object executes a SQL statement. For example, cursor.execute("SELECT * FROM employees") runs the SQL query to fetch all records from the employees table.

Q7. Give the order of execution of SQL clauses in an SQL query.
A7. The order of execution of SQL clauses in a query is:

FROM – Determines the tables to be used.
JOIN – Combines rows from two or more tables based on a related column.
WHERE – Filters rows based on specified conditions.
GROUP BY – Groups rows that have the same values into summary rows.
HAVING – Filters groups based on specified conditions.
SELECT – Specifies the columns to be retrieved.
ORDER BY – Sorts the result set based on specified columns.
LIMIT/OFFSET – Limits the number of rows returned (if applicable).

SELECT name
FROM employees
WHERE department = 'Sales'
GROUP BY name
HAVING COUNT(*) > 1
ORDER BY name;